<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header") %>
  <body>
    <header class="flex-row">
      <h1>Admin page</h1>
      <a href="/log-out" class="log-out-link">Log Out</a>
    </header>
    <main>
      <section class="msg-holder create-msg-holder">
        <%- include("./partials/create-msg") %>
      </section>

      <section class="flex-row sort-holder">
        <p>Sort messages By:</p>
        <a
          href="/admin-page?sortBy=DESC"
          class="sort-link <%= sort === 'DESC' ? 'active' : '' %>"
        >
          Newest</a
        >
        <span>/</span>
        <a
          href="/admin-page?sortBy=ASC"
          class="sort-link <%= sort === 'ASC' ? 'active' : '' %>"
        >
          Oldest</a
        >
      </section>

      <section>
        <ul class="msg-ul">
          <% if(messages.length > 0) { %> <% messages.forEach((message) => { %>
          <%- include("./partials/message", {message:
          message,showAuthor:showAuthor,isAdmin:isAdmin}) %> <% }) %> <% } %>
        </ul>
      </section>
    </main>

    <script>
      window.addEventListener("load", () => {
        const msgHolder = document.querySelectorAll(".msg-holder");
        if (msgHolder) {
          msgHolder.forEach((msgHolder) => {
            msgHolder.classList.add("curtain-open");
          });
        }
      });
    </script>
    <script type="module" src="/admin.js"></script>
  </body>
</html>
