<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header") %>
  <body>
    <header class="flex-row">
      <h1>Home</h1>
      <button class="join-club-btn" data-name="join-club-btn">Join Club</button>
      <a href="/log-out" class="log-out-link">Log Out</a>
    </header>
    <main>
      <div class="flex-row sort-holder">
        <p>Sort messages By:</p>
        <a href="/home?sortBy=DESC" class="sort-link <%= sort === 'DESC' ? 'active' : '' %>"> Newest</a>
        <span>/</span>
        <span data-name="sort-span" data-sort="<%=sort%>"></span>
        <a
          href="/home?sortBy=ASC"
          class="sort-link <%= sort === 'ASC' ? 'active' : '' %>"
        >
          Oldest</a
        >
      </div>
      <section class="msg-holder create-msg-holder">
        <%- include("./partials/create-msg") %>
      </section>

      <section>
        <ul class="msg-ul">
          <% if(messages.length > 0) { %> <% messages.forEach((message) => { %>
          <%- include("./partials/message", {message:
          message,showAuthor:showAuthor,isAdmin:isAdmin}) %> <% }) %> <% } %>
        </ul>
      </section>

      <section class="join-form-holder" data-name="join-in-form-holder">
        <dialog data-name="join-club-modal">
          <button class="close-btn" data-name="close-btn">X</button>
          <%- include("./partials/join-member-form") %>
        </dialog>
      </section>
    </main>

    <script>
      window.addEventListener("load", () => {
        const msgHolder = document.querySelectorAll(".msg-holder");
        if (msgHolder) {
          msgHolder.forEach((msgHolder) => {
            msgHolder.classList.add("curtain-open");
          });
        }
      });
    </script>
    <script type="module" src="/home.js"></script>
  </body>
</html>
