<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header") %>
  <body>
    <%- include("./partials/intro-page-nav") %>
    <main>
      <div class="flex-row sort-holder">
        <p>Sort messages By:</p>
        <a href="/?sortBy=DESC" class="sort-link <%= sort === 'DESC' ? 'active' : '' %>"> Newest</a>
        <span>/</span>
        <a
          href="/?sortBy=ASC"
          class="sort-link <%= sort === 'ASC' ? 'active' : '' %>"
        >
          Oldest</a
        >
      </div>
      <section class="sign-in-form-holder" data-name="sign-in-form-holder">
        <dialog data-name="sign-in-modal" class="sign-in-modal">
          <button class="close-btn" data-name="close-btn">X</button>
          <%- include("./partials/sign-in-form") %>
        </dialog>
      </section>
      <section>
        <dialog data-name="log-in-modal" class="log-in-dialog">
          <button class="close-btn" data-name="close-btn">X</button>
          <div class="flex-row hexagon-holder">
            <%- include("./partials/log-in-form") %>
          </div>
        </dialog>
      </section>
      <section>
        <ul class="msg-ul">
          <% if(messages.length > 0) { %> <% messages.forEach((message) => { %>
          <%- include("./partials/message", {message:
          message,showAuthor:showAuthor,isAdmin:isAdmin}) %> <% }) %> <% } %>
        </ul>
      </section>
    </main>

    <script>
      window.addEventListener("load", () => {
        const msgHolder = document.querySelectorAll(".msg-holder");
        if (msgHolder) {
          msgHolder.forEach((msgHolder) => {
            msgHolder.classList.add("curtain-open");
          });
        }
      });
    </script>
    <script type="module" src="/intro-page.js"></script>
  </body>
</html>
