<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header") %>
  <body>
    <header class="flex-row">
      <h1>members club</h1>
      <nav>
        <button class="admin-btn" data-name="admin-btn">Admin Log In</button>
        <a href="/log-out" class="log-out-link">Log Out</a>
      </nav>
    </header>
    <main>
      <div class="flex-row sort-holder">
        <p>Sort messages By:</p>
        <a
          href="/member-page?sortBy=DESC"
          class="sort-link <%= sort === 'DESC' ? 'active' : '' %>"
        >
          Newest</a
        >
        <span>/</span>
        <span data-name="sort-span" data-sort="<%=sort%>"></span>
        <a
          href="/member-page?sortBy=ASC"
          class="sort-link <%= sort === 'ASC' ? 'active' : '' %>"
        >
          Oldest</a
        >
      </div>
      <p><%=msg%></p>

      <section class="msg-holder create-msg-holder">
        <%- include("./partials/create-msg") %>
      </section>
      <section>
        <ul class="msg-ul">
          <% if(messages.length > 0) { %> <% messages.forEach((message) => { %>
          <%- include("./partials/message", {message:
          message,showAuthor:showAuthor}) %> <% }) %> <% } %>
        </ul>
      </section>

      <section class="admin-form-holder" data-name="admin-form-holder">
        <dialog data-name="admin-modal">
          <button class="close-btn" data-name="close-btn">X</button>
          <%- include("./partials/admin-form") %>
        </dialog>
      </section>
    </main>

    <script>
      window.addEventListener("load", () => {
        const msgHolder = document.querySelectorAll(".msg-holder");
        if (msgHolder) {
          msgHolder.forEach((msgHolder) => {
            msgHolder.classList.add("curtain-open");
          });
        }
      });
    </script>
    <script type="module" src="/member.js"></script>
  </body>
</html>
